<nav class="navbar navbar-expand-lg navbar-dark fixed bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">MangaStop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nav-menu">
            <ul class="navbar-nav me-auto mb-2 px-4 mb-lg-0">
                <li class="nav-item tabs" id="home">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item tabs" id="favourites">
                    <a href="/favourites" class="nav-link">Favourites</a>
                </li>
                <li class="nav-item tabs" id="github">
                    <a href="https://github.com/Karan9034/mangaStop" target="_blank" class="nav-link">Github</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>